@import "../bootstrap.less";

@sansFontFamily:        "Open Sans", Helvetica, Arial, sans-serif;
body {
margin: 0 0 0 0;
font-family: "Open Sans",Helvetica,Arial,sans-serif;
font-size: 14px;
line-height: 20px;
color: #333333;
background: url(../images/subtle_dots.png) repeat;
padding:0;
}

h1{
     font-size:48px;  
     color:#F3801F;  

}
h2{
    font-size:17px;
    margin:0;
}
h3 {
    line-height: 45px;
    font-size:40px;
    color:#fff;
  }
h4{
   line-height: 35px;
    font-size:30px;
    color:#F3801F;  
}
h5{
    font-size:25px;
    color:#fff;
    line-height: 30px;
}

 .fundo-banner-top h3 {
    margin:80px auto;
        width:80%;
}
.column-laranja h5{
      margin-left:20px;  
}

.navbar h1 a small{
 margin-left:20px;   
 font-size:14px;
 color:#F3801F;
}
.navbar .nav {
position: relative;
left: 0;
display: block;
float: left;
margin: 12px 10px 0 0;
}
.navbar .brand, .navbar .nav>li>a {
color: #333;
text-shadow: none;
}

.navbar{background:#fff;}

/*background:url(../images/subtle_top.png) repeat;*/
body > .navbar .navbar-inner {
background: url(../images/subtle_dots.png) repeat;
filter:none;
border-color: #ccc;
padding:30px 0; 
}


.navbar-fixed-top .navbar-inner, .navbar-fixed-bottom .navbar-inner {
padding-right: 0;
padding-left: 0;
-webkit-border-radius: 0;
-moz-border-radius: 0;
border-radius: 0;
}
.navbar-fixed-top, .navbar-fixed-bottom{
 position:relative;   
}

.fixed{position:fixed;bottom:0;right:0; width:25px;  padding:10px;}

.navbar-fixed-top {
top: 0;
}

.navbar .nav>li>a {
float: none;
padding: 10px 15px 10px;
color: #333;
font-weight:80;
text-decoration: none;
text-shadow:none;
}

.navbar .nav>li>a:hover {
color: #F5821F;
}

.navbar .nav .active>a, .navbar .nav .active>a:hover, .navbar .nav .active>a:focus {
color: #F5821F;
background-color: #ffffff;
}
.navbar .nav>.active>a, .navbar .nav>.active>a:hover, .navbar .nav>.active>a:focus {
color: #F5821F;
text-decoration: none;
background-color: #fff;
-webkit-box-shadow: none;
-moz-box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
box-shadow: none;
}

.banner-top{
   background:url(../images/subtle_orange.png) repeat;
    margin:0 0 0;
}

.fundo-banner-top{
    width:100%;
    background:url(../images/fundo-banner-top.png) no-repeat ;
    padding:30px 0 30px;
    margin-bottom:0;
}
.impressao-digital{
    width:100%;
    margin-top:2px;
}
.impressao-digital .img-imp{
    width:70%;
}
.impressao-digital p{
 margin-left:4px;   
}
.banner-dispositivo{
    background:#E7E7E7;
    margin:50px 0 0;
    padding:40px 0 60px;
}
.safe-dispositivo{
    width:100%;    
}

.banner-top-epage{
    text-align:center;
    margin:0 auto;   
}

.catalogo-impresso{
    text-align:center;
    margin:0 auto;
    padding-top:40px;
}
.img-logo{float:left; margin-right:20px;width:80px;}

.row {
margin-left: -30px;
margin-top:30px;
}

.span6 a, .span7 a{
    color:#F3801F;   
}
.span7 p{
    font-size:11px;   
}
 
.top{margin-top:50px; width:90%;}
.top2{margin-top:30px;width:100%;}
.top4{margin-top:40px;}
.top5{margin-top:100px;}

.chamada ul li{  line-height: 35px;
    font-size:20px;
    color:#F3801F;
    font-weight:bold;}

.text-dispositivo{
    width:224px;
    line-height: 25px;
    font-size:22px;
    color:#F3801F;
    font-weight:bold;
    margin-top:90px;
}

.center{text-align:center;}
.width{width:125px;}
.safe-dispositivo img{
        text-align:center;    
    }
    
    

.exemplo{
  float:right;
  margin-top:-90px;
  margin-right:100px;
}

.column-laranja{
    width:100%;
    background:#F5821F;
    float:left;
    margin-top:-5px;
}
.column-cinza{
    width:50%;
    height:auto;
    background:#E7E7E7; 
    float:left;
    line-height: 21px;
    padding:40px 0;
    border-right:2px solid #fff;
}

.column-cinza .span6{
    padding-right:13px;
}
.column-cinza p{padding-right:29px;}
.column-laranja h5{
    padding:30px 0;
    margin-right:180px;
    width:80%;
}

.img-impresso{
    float:right;
}

.seta{
 position:relative;
 z-index:3;
 margin-left:-60px;
 margin-right:-60px;
 margin-top:-30px;
 
}

.pedido{
    background:url(../images/subtle_carbon.png) repeat;
}

.pedido h3{text-align:center;}
.fundo-pedido{
    width:100%;
    background:url(../images/fundo-pedido.png) no-repeat;
    padding:0 0 40px; 
}
    
    .white{
        color:#fff;
    }

.solicitar{
    width:100%;
    background:#3C3C3C;
    border:1px dashed #666666;
    border-radius:10px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    margin-bottom:30px;
}

#fileupload-home td .start, #fileupload-home td [type="checkbox"]{display:none;}

table {
border-collapse: collapse;
border-spacing: 0;
}
canvas{display:none;}
.preview img{
    display:none;   
}
.table th, .table td {
padding: 8px;
line-height: 20px;
text-align: left;
vertical-align: top;
border-top: 1px solid #dddddd;
background: #fff;
}

#myCarousel{
  width: 50%;
  margin:30px auto 30px;
}

#myCarousel a {
color: #ccc;
text-decoration: none;
}

.carousel-control {
position: absolute;
top: 40%;
left: 15px;
width: 40px;
height: 40px;
margin-top: -20px;
font-size: 60px;
font-weight: 100;
line-height: 30px;
color: #ccc;
text-align: center;
background: none;
border: none;
-webkit-border-radius: none;
-moz-border-radius: none;
border-radius: none;
opacity: none;
filter: alpha(opacity=50);
}

#myCarousel img {
max-width: 100%;
margin: 0 auto;
height: auto;
vertical-align: middle;
border: 0;
text-align:center;
-ms-interpolation-mode: bicubic;
}
.carousel-control.right {
left: auto;
right: -40px;
}
.carousel-control.left {
right: auto;
left: -40px;
}
.bottom{
    padding-bottom:30px;   
}

.global {
height: 550px;
overflow: auto;
position: relative;
}

.cinza{font-size:20px; color:#ccc;}

.cinza img{margin-right :30px; float:left;}

#contato img, #preco img{width:50%; padding:20px 0;}

 /* RESPONSIVE CSS
    -------------------------------------------------- */

    @media (max-width: 979px) {
    
    .topo{
        margin-top:-10px; 
        position:relative;
        z-index:3;
    }
    .seta{display:none;}
    .navbar .nav-collapse .nav > li > a, .navbar .nav-collapse .dropdown-menu a {
    color: #fff;
    }
   .container{padding:0 20px 10px;}
    .fundo-banner-top{
    width:auto;
    background:url(../images/fundo-banner-top.png)no-repeat ;
    padding:0 0 10px;
    }
    .nav-collapse .nav > li > a, .nav-collapse .dropdown-menu a {
    .nav-collapse .nav > li > a, .nav-collapse .dropdown-menu a {
    padding: 9px 15px;
    font-weight: bold;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    }
    }
    .navbar .nav>li>a {
    float: none;
    padding: 10px 15px 10px;
    color: #fff;
    text-decoration: none;
    }

    .pull-right{
    float:none;   
    }

    .navbar-white{
     background:#fff;  
     padding:40px 20px 30px;
    }

    .nav-collapse .nav > li > a, .nav-collapse .dropdown-menu a {
    padding: 9px 15px;
    font-weight: none;
    color: #666;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    }
   h3{
      font-size:30px; 
   }
   .fundo-banner-top h3 {
    width:95%;
    line-height: 30px;
    font-size:30px;
    color:#fff;
    margin:10px;
    }
    
    .top3{margin-top:30px;width:100%;}
    .navbar .nav-collapse .nav{
        border-top:1px solid #e1e1e1;  
        margin:30px 0 10px 0;
        padding-top:20px;
    }
    .navbar .nav-collapse .nav > li > a:hover, .navbar .nav-collapse .nav > li > a:focus, .navbar .nav-collapse .dropdown-menu a:hover, .navbar .nav-collapse .dropdown-menu a:focus {
    background: none!important;
    color:#F5821F;
    }
    .navbar .btn-navbar {
    padding: 7px 10px;
    margin:10px 0 0;
    }
    .navbar-white{
      padding-bottom:10px;
    }
    .top2{margin-top:30px; }
    .banner-dispositivo{
     margin:20px 0 0;
    }
     .slideshow{
        width:100%;   
        margin:30px auto;
    }
.exemplo{
  float:right;
  margin-top:0;
  margin-right:0;
}

.column-laranja{
    width:100%;
    background:#F5821F;
    float:none;
    clear:both;
    margin-top:30px;
}

.column-cinza{
    width:100%;
    background:#E7E7E7; 
    float:none;
    clear:both;
}

.colum-laranja{padding:0; margin:0;}
.column-cinza p,.column-laranja h5{
    padding:0 20px;
    margin-right:0;
}

h5{
   margin-left:0;
}
.column-laranja h5{
    padding-top:20px;   
    padding-bottom:30px;   
}
.banner-top{
  margin-top:0!important;    
}

    
.img-center{
    text-align:center;   
}
.img-impresso{
    float:none;
}
h1{
     font-size:40px;  
     color:#F3801F;  
     line-height:45px;
}

.top5{margin-top:40px;}
.pedido{
    background:url(../images/subtle_carbon.png) repeat;
    margin-top:-10px;
}

#myCarousel{
  width: 90%;
  margin:30px auto 30px;
}

.carousel-control.right {
left: auto;
right: -20px;
}
.carousel-control.left {
right: auto;
left: -20px;
}

.modal {
position: absolute;
}

.navbar .btn-navbar {
padding: 7px 10px;
margin: 20px 0 0;
}

}

@media screen and (max-width: 767px){
#contato.modal {
position: absolute;
top: 20px;
right: 20px;
left: 20px;
width: auto;
margin: 0;
}

}

@media screen and (min-width: 768px) and (max-width: 800px) {
.column-laranja{
    width:100%;
    background:#F5821F;
    float:left;
    margin-top:5px;
}
.column-cinza{
    width:50%;
    height:auto;
    background:#E7E7E7; 
    float:left;
    line-height: 21px;
    padding:40px 0;
    border-right:2px solid #fff;
}

.column-cinza p{
    padding-right:40px;
}
.column-laranja h5{
    padding:30px 0;
    margin-right:30px;
}
.top800{margin-top:180px;width:100%;}

#fileupload-home .files .progress {
width: 50px;
}
#fileupload-home td button span {display:none;}

 .fundo-banner-top h3 {
    margin:40px auto;
        width:80%;
}
.modal {
position: absolute;
}

}

@media screen and (width: 1024px) {
.brand{
    width:30%!important;   
  }
  .column-laranja h5{
    padding:30px 0;
    margin-right:50px;
    } 
    
    #fileupload-home .files .progress {
    width: 120px;
    }
    .navbar .nav>li>a {
    float: none;
    padding: 10px 10px 10px;
    color: #777777;
    text-decoration: none;
    text-shadow: none;
    }
    
     .fundo-banner-top h3 {
    margin:40px auto;
    width:80%;
    }
    .seta{
    position:relative;
     z-index:3;
     margin-left:-60px;
    margin-right:-60px;
    margin-top:0;
 }
    .top800{margin-top:80px;width:100%;}
    }
    
   


